extends ../shared/template

block content
  h1= title
  .row
    .small-6.columns
      #messages
    .small-6.columns
      textarea
      button Send Message

  .row
    .small-6.columns
      #mapCanvas
